@import '../config/Vars';
.trade_filter {
  padding:12px;
  margin-top: 26px;
  background: $refresh;
  position: relative;
  text-align: center;
  font-size: 18px;
  line-height: 2;
  color:$white;
  font-weight: 500;
  .refresh_zone{
    border-radius: 25px;
    background: $refresh_zone;
    width: 170px;
    padding:8px 0px;
    position: absolute;
    top:12px;
    line-height: 1;
  }
  .advert-btn{
    width: 152px;
    background: $blue;
    font-size: 16px;
    color: $white;
    border: 0px;
    border-radius: 25px;
    position: absolute;
    top:13px;
    right:0px;
    padding: 8px 0px;
    cursor: pointer;
  }
  .buy-btn{
    background: $blue;
  }
  .refresh {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
    &.active {
      width: 125px;
    }

    /deep/ .el-checkbox__input.is-checked .el-checkbox__inner {
      background-color: $lYellow;
      border-color: $lYellow;
    }

  }
  .refresh-box{
    color:$white;
  }

  .refresh_btn {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 20px;
    cursor: pointer;
    transform: rotate(0deg);
    .iconfont {
      font-size: 20px;
      color: $dGray;
    }
    &.active {
      transition: transform 1s ease-out;
      transform: rotate(720deg);
    }
  }

  .trade_help {
    position: absolute;
    right: 12px;
    top: 0;
    font-size: 16px;
    color: $blue;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    .icon {
      vertical-align: top;
      font-size: 30px;
      margin-left: 10px;
      color: $blue;

    }
    label{
      vertical-align: top;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}