@import "../config/Vars";
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  top: 0px;
  left: 0px;
}
.input-title {
  font-size: 16px;
  color: #9397a8;
  margin-bottom: 6px;
  margin-top: 15px;
  span {
    color: $trandeOrange;
    margin-left: 6px;
  }
}
.input-zone {
  padding: 10px;
  .window-btn {
    border: 0px;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 2.5;
    margin-top: 24px;
    color: $white;
    background: $tradeGreen;
    &.disable {
      background-color: $lGray;
      cursor: auto;

      &:hover {
        background-color: $lGray;
      }
    }
  }
  .window-btn-sell {
    background: rgb(242, 92, 73);
  }
}
.input-content-zone {
  display: flex;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.07);
  font-size: 16px;
  border-radius: 4px;
  overflow: hidden;
  .currency_flag {
    width: 78px;
    text-align: center;
    font-size: 20px;
    color: #808080;
    line-height: 2.3;
  }
  input {
    flex: 1;
    border: 0px;
    padding-left: 12px;
    background: transparent;
    color: #fff;
  }
}

.mask-window {
  width: 520px;
  margin: 0 auto;
  background: $lmainColor;
  padding: 18px;
  position: relative;
  top: 52%;
  height: 460px;
  margin-top: -230px;
  border-radius: 4px;
  h4 {
    font-size: 40px;
    color: $white;
    font-weight: 500;
    margin-top: 10px;
    padding-left: 10px;
    span {
      display: inline-block;
      font-size: 15px;
      text-align: center;
      font-weight: 300;
      margin-left: 10px;
      color: #787e8f;
    }
  }
}
.pay-zone {
  font-size: 16px;
  line-height: 34px;
  color: $white;
  padding-top: 6px;
  text-align: left;
  span {
    line-height: 1;
    margin-right: 15px;
  }
  .normal_ffc {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 23px;
    margin-left: 0px;
    position: relative;
    top: -10px;
    background: url("../../assets/images/trade/ffc_icon.png") no-repeat left;
  }

  .normal_alipay {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 23px;
    margin-left: 0px;
    position: relative;
    top: -10px;
    background: url("../../assets/images/trade/alipay-no.png") no-repeat left;
  }
  .normal_wx {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 23px;
    margin-left: 10px;
    position: relative;
    top: -10px;
    background: url("../../assets/images/trade/wx-no.png") no-repeat left;
  }
  .normal_bank {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 23px;
    margin-left: 10px;
    position: relative;
    top: -10px;
    background: url("../../assets/images/trade/bank-no.png") no-repeat left;
  }
  .ffc {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 23px;
    margin-left: 0px;
    position: relative;
    top: -10px;
    background: url("../../assets/images/trade/ffc_icon.png") no-repeat left;
  }

  .alipay {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 23px;
    margin-left: 0px;
    position: relative;
    top: -10px;
    background: url("../../assets/images/trade/alipay.png") no-repeat left;
  }
  .wx {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 23px;
    margin-left: 10px;
    position: relative;
    top: -10px;
    background: url("../../assets/images/trade/wx.png") no-repeat left;
  }
  .bank {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 23px;
    margin-left: 10px;
    position: relative;
    top: -10px;
    background: url("../../assets/images/trade/bank.png") no-repeat left;
  }
}
.recommend_content_zone {
  padding: 20px 10px;
  padding-bottom: 10px;
  background: $lmainColor;
  .user-info {
    width: 50%;
    font-size: 16px;
    color: $white;
    padding-top: 3px;
    span {
      margin-left: 15px;
      display: inline-block;
      padding: 2px 4px;
      font-size: 12px;
      color: #656a70;
      background: #b4b4b4;
      border-radius: 4px;
      line-height: 1;
      vertical-align: text-top;
    }
    .window_online {
      background: $tradeGreen;
      color: $white;
    }
  }
  .recommend_content_zone_top {
    display: flex;
    .head_portrait {
      width: 52px;
      height: 52px;
      border-radius: 100%;
      background: $blue;
      color: $white;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      line-height: 52px;
      margin-right: 40px;
    }
  }
  .recommend_content_zone_bottom {
    display: flex;
    padding-top: 20px;
    p {
      margin: 0px;
      line-height: 1.4;
      font-size: 16px;
      color: $lGray;
      padding: 0px 10px;
    }
    span {
      margin-left: 6px;
    }
    .strong {
      font-weight: 600;
      color: $white;
    }
    .price {
      flex: 1;
    }
    .recommend_content_zone_bottom_btn-zone {
      width: 80px;
      padding-top: 11px;
      button {
        width: 100%;
        font-size: 16px;
        color: $white;
        border-radius: 2px;
        border: 0px;
        line-height: 1.8;
      }
      .buy-btn {
        background-color: $tradeGreen;
      }
    }
  }
  .top-right {
    flex: 1;
    .top-praise {
      display: flex;
    }
    .top-credit {
      display: flex;
      margin-top: 10px;
    }
    .top-praise_icon {
      display: inline-block;
      width: 30px;
      height: 22px;
      background: url("../../assets/images/trade/praise.png") no-repeat left;
    }
    .top-credit_icon {
      display: inline-block;
      width: 30px;
      height: 22px;
      background: url("../../assets/images/trade/credit.png") no-repeat left;
    }
    .top-credit_content {
      font-size: 16px;
      color: $title;
      line-height: 1.45;
    }
    .top-praise_content {
      font-size: 16px;
      color: $title;
      line-height: 1.45;
    }
    .ffc {
      display: inline-block;
      width: 50px;
      height: 22px;
      background: url("../../assets/images/trade/ffc_icon.png") no-repeat right;
    }

    .alipay {
      display: inline-block;
      width: 50px;
      height: 22px;
      background: url("../../assets/images/trade/alipay.png") no-repeat right;
    }
    .wx {
      display: inline-block;
      width: 40px;
      height: 22px;
      background: url("../../assets/images/trade/wx.png") no-repeat right;
    }
    .bank {
      display: inline-block;
      width: 40px;
      height: 22px;
      background: url("../../assets/images/trade/bank.png") no-repeat right;
    }
  }
}
.close-zone {
  text-align: right;
  i {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../../assets/images/trade/window-close.png") no-repeat
      center;
  }
}
.trade_buy {
  position: relative;
  padding-bottom: 75px;
}
.trade_buy_header {
  width: 100%;
  height: 55px;
  background-color: $tradeRed;
  color: $white;
  font-size: 20px;
  text-align: center;
  line-height: 55px;
}
.trade_buy_title {
  width: 100%;
  height: 50px;
  background-color: $vlGray;
  color: $dGray;
  font-size: 16px;

  .trade_buy_title_item {
    height: 50px;
    line-height: 50px;
    text-align: center;

    &.user {
      width: 100px;
    }

    &.limit {
      width: 220px;
    }

    &.price {
      width: 130px;
    }
  }
}
.table-big > tbody > tr:nth-of-type(odd) {
  background-color: $noticeBg;
}
.ft-light {
  color: $rwhite;
  font-weight: 600;
}
.table_ffc {
  display: inline-block;
  width: 36px;
  height: 33px;
  margin-top: 4px;
  background: url("../../assets/images/trade/icon_ffc.png") no-repeat left !important;
}

.table_alipay {
  display: inline-block;
  width: 36px;
  height: 33px;
  margin-top: 4px;
  background: url("../../assets/images/trade/alipay.png") no-repeat left !important;
}
.table_alipay_no {
  display: inline-block;
  width: 36px;
  height: 33px;
  margin-top: 4px;
  background: url("../../assets/images/trade/alipay-no.png") no-repeat left;
}
.table_wx {
  display: inline-block;
  width: 36px;
  height: 33px;
  margin-top: 4px;
  background: url("../../assets/images/trade/wx.png") no-repeat left !important;
}
.table_wx_no {
  display: inline-block;
  width: 36px;
  height: 33px;
  margin-top: 4px;
  background: url("../../assets/images/trade/wx-no.png") no-repeat left;
}
.table_bank_no {
  display: inline-block;
  width: 36px;
  height: 33px;
  margin-top: 4px;
  background: url("../../assets/images/trade/bank-no.png") no-repeat left;
}
.table_bank {
  display: inline-block;
  width: 36px;
  height: 33px;
  margin-top: 4px;
  background: url("../../assets/images/trade/bank.png") no-repeat left !important;
}
.big-buy-btn {
  width: 80px;
  background: $tradeGreen;
  color: $white;
  border: 0px;
  padding: 5px 0px;
  border-radius: 3px;
  margin-right: 12px;
  cursor: pointer;
}
.big-buy-btn-edit {
  width: 80px;
  background: $lOrange;
  color: $white;
  border: 0px;
  padding: 5px 0px;
  border-radius: 3px;
  margin-right: 12px;
}
.ft-center {
  text-align: center;
}
.ft-right {
  text-align: right;
}
.table-big {
  font-size: 16px;
  color: $title;
  line-height: 1;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  .title-left {
    text-align: left;
    padding-left: 12px;
  }
  th {
    font-weight: 400;
    background: #333643;
    line-height: 3;
  }
}
.table-big-tr {
  text-align: left;
}
.user-logo {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  background: $blue;
  text-align: center;
  width: 48px;
  height: 48px;
  float: left;
  color: #fff;
  margin: 16px 20px;
  line-height: 48px;
}
.onlineUserLogo {
  background: $blue;
}
.user {
  position: relative;
  width: 90px;
  text-align: left;
  font-size: 18px;
  color: $blue;
  display: inline-block;
  padding-left: 5px;
  position: relative;
  top: 30px;
}
.user:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #5c5c5c;
  left: -29px;
  top: 17px;
  border: 1px solid#fff;
}
.online:before {
  display: inline-block;
  content: "";
  font-size: 12px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #42f11f;
}
.trade_list {
  .trade_buy_item {
    .trade_buy_col {
      height: 75px;
      color: $black;
      &.user {
        width: 100px;
        height: 75px;
        line-height: 75px;
        text-align: center;
        font-size: 16px;
        color: $black;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:before {
          display: inline-block;
          content: "";
          font-size: 12px;
          width: 6px;
          height: 6px;
          border-radius: 6px;
          background-color: #bfbfbf;
        }

        &.online:before {
          display: inline-block;
          content: "";
          font-size: 12px;
          width: 6px;
          height: 6px;
          border-radius: 6px;
          background-color: #8cff26;
        }
      }
      &.limit {
        width: 220px;
        height: 75px;
        line-height: 75px;
        text-align: center;
        font-size: 14px;
        color: $gray;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &.price {
        width: 130px;
        height: 75px;
        line-height: 75px;
        text-align: center;
        font-size: 14px;
        color: $black;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &.button_group {
        width: 100px;
        height: 75px;
        text-align: center;
        .buy {
          width: 86px;
          height: 34px;
          line-height: 34px;
          font-size: 16px;
          color: $white;
          background-color: $yellow;
          border-radius: 4px;
          margin: 20px auto;
          cursor: pointer;
          transition: background-color 0.5s;

          &:hover {
            background-color: $lYellow;
          }
        }

        .fold {
          width: 86px;
          height: 34px;
          line-height: 34px;
          font-size: 16px;
          color: $white;
          background-color: $gray;
          border-radius: 4px;
          margin: 20px auto;
          cursor: pointer;
          transition: background-color 0.5s;

          &:hover {
            background-color: $lGray;
          }
        }
      }
    }
    &:nth-child(even) {
      background-color: $vlGray;
    }
    .trade_box {
      position: relative;
      box-sizing: border-box;
      clear: both;
      height: 0;
      transition: height 0.5s, border 0.5s;
      overflow: hidden;
      //background-color: $white;

      &.show {
        height: 619px;
      }

      .trade_info {
        position: relative;
        width: 100%;
        height: 250px;

        .trade_title {
          position: absolute;
          left: 20px;
          top: 140px;
          font-size: 16px;

          span {
            vertical-align: middle;
            padding: 2px 4px;
            font-size: 12px;
            color: $white;
            border-radius: 4px;
            background-color: #bfbfbf;
            margin-left: 10px;
            &.online {
              background-color: #009947;
            }
          }
        }

        .trade_price {
          position: absolute;
          height: 60px;
          left: 20px;
          top: 40px;
          .price {
            display: inline-block;
            font-size: 60px;
          }
          .price_notice {
            display: inline-block;
            font-size: 16px;
            margin-left: 10px;
          }
        }

        .trade_user_avatar {
          position: absolute;
          top: 140px;
          left: 200px;
          width: 75px;
          height: 75px;
          line-height: 75px;
          text-align: center;
          font-size: 30px;
          color: $white;
          border-radius: 75px;
          background-color: #74deff;
          overflow: hidden;
          user-select: none;
        }

        .praise {
          position: absolute;
          top: 135px;
          left: 340px;
          .praise_icon {
            display: inline-block;
            width: 33px;
            height: 33px;
            background: url("../../assets/images/trade/praise.png") no-repeat
              center;
          }
          .praise_content {
            display: inline-block;
            height: 33px;
            vertical-align: top;
            line-height: 33px;
            font-size: 16px;
            color: $lGray;
            margin-left: 10px;
          }
        }

        .credit {
          position: absolute;
          top: 185px;
          left: 340px;
          .credit_icon {
            display: inline-block;
            width: 33px;
            height: 33px;
            background: url("../../assets/images/trade/credit.png") no-repeat
              center;
          }
          .credit_content {
            display: inline-block;
            height: 33px;
            vertical-align: top;
            line-height: 33px;
            font-size: 16px;
            color: $lGray;
            margin-left: 10px;
          }
        }
      }

      .trade_payment_method {
        width: 100%;
        height: 60px;
        margin-left: 20px;
        label {
          display: inline-block;
          height: 33px;
          line-height: 33px;
          vertical-align: top;
          font-size: 16px;
        }

        .trade_payment_method_items {
          display: inline-block;
          vertical-align: top;
          margin-left: 50px;
          .payment {
            display: inline-block;
            vertical-align: top;
            margin-right: 40px;
            height: 33px;
            width: 33px;
            &.alipay {
              background: url("../../assets/images/trade/alipay.png") no-repeat
                center;
            }
            &.wx {
              background: url("../../assets/images/trade/wx.png") no-repeat
                center;
            }
            &.bank {
              background: url("../../assets/images/trade/bank.png") no-repeat
                center;
            }
          }
        }
      }

      .trade_input_group {
        position: relative;
        width: 100%;
        height: 90px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        label {
          font-size: 14px;
          span {
            color: $red;
          }
        }
        input {
          width: 500px;
          height: 60px;
          padding: 0;
          margin: 5px 0;
          font-size: 20px;
          text-indent: 16px;
        }

        .currency_flag {
          position: absolute;
          top: 38px;
          right: 60px;
          font-size: 20px;
        }
      }

      .trade_submit {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 55px;
        background-color: $tradeGreen;
        font-size: 22px;
        color: $white;
        text-align: center;
        line-height: 55px;
        cursor: pointer;
        transition: background-color 0.5s;

        &.disable {
          background-color: $lGray;
          cursor: auto;

          &:hover {
            background-color: $lGray;
          }
        }

        &:hover {
          background-color: $lTradeGreen;
        }
      }
    }
  }
}
.pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  /deep/ .el-pager li.active {
    border: 1px solid $blue;
    background-color: $blue;
    color: $white;
    &:hover {
      color: $white;
    }
  }
  /deep/ .el-pager li {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 20px;
    border: 1px solid $refresh_zone;
    line-height: 30px;
    color: $refresh_zone;
    background: transparent;
  }
  /deep/ button {
    height: 30px;
    width: 30px;
    padding: 0px;
    .el-icon {
      font-size: 10px;
    }
  }

  /deep/ .btn-prev {
    border-radius: 100%;
    background: $refresh_zone;
    border: 0px;
    margin-right: 20px;
  }
  /deep/ .btn-next {
    border-radius: 100%;
    background: $refresh_zone;
    border: 0px;
  }
  .el-pager li:hover {
    color: $yellow;
  }
  .el-pagination button:hover {
    color: $yellow;
  }
}
.clear {
  clear: both;
}
