$black: #000000;
$bgBlack: #121212;
$dGray: #3f3f3f;
$gray: #808080;
$lGray: #bfbfbf;
$vlGray: #f1f1f1;
$yellow: #2c4f82;
$lYellow: #2ebdff;

$lBlue: #e8f6ff;
$vlBlue: #f3faff;

$lGreen: #f0ffdf;

$lPink: #ffebea;

$red: #ff4137;
$dRed: #d20532;
$ddred: #ae4e54;
$blue: #3d9cee;

$tradeRed: #c24447;
$lTradeRed: #dc4649;
$tradeGreen: #24b36b;
$lTradeGreen: #3cbf50;
$trandtopGreen: #43cb83;

$orange: #eb6100;
$trandeOrange: #f25c49;
$trandeOrangeh: rgba(242, 92, 73, 0.85);
$lOrange: #f27c00;

$white: #ffffff;
$rwhite: #bcc0d1;
$mainColor: #282a36;
$dmainColor: #141414;
$lmainColor: #343744;

$content_width: 1200px;

$bodyBg: #282a36;
$dBg: #21232e;
$noticeBg: #282a36;
$noticeFt: #7a8091;
$title: #9397a8;

$refresh: #2b2d39;
$refresh_zone: #474a59;

$float_right: #252a38;
$table_th: #717484;
$table_td: #c7cce6;

$exchange_bg: #191b27;
$exchange_title: #bcc0d1;
$exchange_dft: #656872;
$exchange_green: #29bc86;
$exchange_red: #e64c65;

$exchange_font_max: 15px;
$exchange_font_min: 12px;
